<%- include('partials/header') %>

<body class="home-wallpaper">
<div class="centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" style="font-weight: 700; font-size: 70px;">Fun Facts!</h1>
    <p class="lead" style="font-weight: 500; font-size: 40px;">Log in to know interesting Facts!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
</body>
<%- include('partials/footer') %>
