<%- include('partials/header') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
<style>
  .ColorPage{
    background-image: url("./images/download\ \(3\).jpg");
    background-position:top;
 background-repeat: no-repeat;
  background-size: 50%;
  }
  .container{
    padding-top: 15%;
  }
  .fontDesign{
    font-family:'Playwrite Cuba',cursive;
  }
</style>
<body class="ColorPage" >
  <div class="text-center">
    <div class="container">
     
      <h1 class="display-3 fontDesign" style="font-weight: 700;">Fun Fact!</h1>
      <p class="secret-text">
      <p class="secret-text fontDesign" style="font-weight: 500; color: rgb(77, 22, 22);">At the height of his popularity, Charlie Chaplin entered a Charlie Chaplin look-a-like competition in San Francisco. He came in 20th place.</p>
      </p>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>
</body>
  <%- include('partials/footer') %>